<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
    <meta charset="UTF-8">
    <title>Detalles de profesor</title>
</head>
<body>
<nav th:replace="fragments/nav"> </nav>
    <h2>Detalles del profesor</h2>
    <div>
        <p class="card-text" th:text="${professor.toString()}"></p>
    </div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>