<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
    <title>Professors</title>
    <meta charset="utf-8"/> </head>
<body>
<nav th:replace="fragments/nav"> </nav>
<h2 th:text="#{professor.list}"></h2>
    <div th:each="professor: ${professorList}">
        <p>
            <span th:text="${professor.name}"></span>
            <span th:text="${professor.lastName}"></span>
            <span th:text="${professor.category}"></span>
            <a th:href="${'/professor/details/' + professor.id}">detalles</a>
            <a th:href="${'/professor/edit/' + professor.id}">editar</a>
            <a th:href="${'/professor/delete/' + professor.id}">delete</a>
        </p>

    </div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>